<nav class="navbar navbar-expand-lg fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <!-- Logo o Nombre del Portafolio -->
        <img src="https://imgur.com/karurq6.png" alt="" style="width: 50px;">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" href="javascript:history.back()">
              <!-- Icono de volver atrás -->
              <i class="bi bi-arrow-left-circle"></i> 
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/">
              <!-- Icono de home -->
              <i class="bi bi-house"></i> 
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  