<nav class="navbar navbar-expand-md">
  <div class="container-fluid">
    <a href="/" class="navbar-brand">
      <img src="https://imgur.com/gLjadqY.png" class="" style="width: 50px; border-radius: 50px;">
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu" aria-controls="navbarSupportedControls" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="menu">
      <ul class="navbar-nav me-auto">
        <li class="nav-item"><a href="/me" class="nav-link">Sobre mí</a></li>
        <li class="nav-item"><a href="/stack" class="nav-link">Stack</a></li>
        <li class="nav-item"><a href="/studies" class="nav-link">Estudios</a></li>
        <li class="nav-item"><a href="/proyects" class="nav-link">Proyectos</a></li>
        <li class="nav-item"><a href="/softskills" class="nav-link">Softskills</a></li>
        <li class="nav-item"><a href="/hobbies" class="nav-link" >Hobbies</a></li>
      </ul>

      <hr class="text-white-50">

      <!-- redes sociales -->
      <ul class="navbar-nav flex-row flex-wrap d-flex justify-content-center">
        <li class="nav-item col-2 col-md-auto-p3">
          <a href="https://www.github.com/joaquinob">
          <i class="bi bi-github"></i>  
          <small class="d-md-none ms-2">GitHub</small>
          </a>  
        </li>
        <li class="nav-item col-2 col-md-auto-p3">
          <a href="https://www.linkedin.com/in/joaquinoblanco">
          <i class="bi bi-linkedin"></i> 
          <small class="d-md-none ms-2">Linkedin</small>
          </a>
        </li>
        <li class="nav-item col-2 col-md-auto-p3">
          <a href="https://wa.me/34649602619">
          <i class="bi bi-whatsapp"></i> 
          <small class="d-md-none ms-2">Whatsapp</small>
          </a>
        </li>
        <li class="nav-item col-2 col-md-auto-p3">
          <a href="/cv">
          <i class="bi bi-file-earmark-person-fill"></i> 
          <small class="d-md-none ms-2">Mi CV</small>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>