.main{
    margin-top:100px;
    color: #163832;
}
.hobbies{
    width: 85%; /* Ajusta esto a 90% si prefieres */
    margin: 0 auto; /* Centra el div en la página */
    border: 4px solid #163832;
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 3rem;
}

.hobbies img{
    width: 100%; /* La imagen ocupará todo el ancho del contenedor .football */
    height: auto; /* Mantiene la relación de aspecto */
    object-fit: cover; /* Se asegura de que la imagen cubra completamente el área asignada */
}

img{
    border-radius: 10px;
    border: 1px solid #163832;
}

h2{
    font-weight: 800;
    font-size: 50px;
}

.carousel-caption{
    color: #163832;
    background-color: rgba(218, 241, 222, 0.5); /* 20% opaco, 80% transparente */

    border: 1px solid #163832;
    border-radius: 20px;
}
.navbar {
    z-index: 1000; /* Un valor alto para asegurarte que esté por encima del contenido */
}

.carousel {
    z-index: 1; /* Un valor más bajo */
}

.carousel-descriptions {
    margin-top: 20px;
}

.carousel-descriptions .description {
    margin-bottom: 15px;
}

@media (min-width: 768px) {
    .carousel-descriptions {
        display: none;
    }
}
