.main{
    margin-top:100px;
    color: #163832;
}
.nav-link{
    color:#235347;
}

.tab-pane{
    padding: 2rem;
}
.tab-content{
    display: flex;
    gap: 5rem;
    justify-content: center;
    height: 65vh;
}

.card-title{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 3rem;
    font-size: 8vw;
}
.stack{
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    justify-content: center;
    align-items: center;
}

li{
    list-style: none;
}