<div class="main">
<ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Frontend</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Backend</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="db-tab" data-bs-toggle="tab" data-bs-target="#db-tab-pane" type="button" role="tab" aria-controls="db-tab-pane" aria-selected="false">Bases de Datos</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact-tab-pane" type="button" role="tab" aria-controls="contact-tab-pane" aria-selected="false">Lenguajes</button>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
        <div id="frontend-content">
            <h5 class="card-title text-center">Frontend</h5>
            <ul class="stack">
              <li><img src="https://imgur.com/mEBE7s7.png" alt="React" style="width: 50px;"></li>
              <li><img src="https://imgur.com/5Olnr7x.png" alt="Angular"></li>
              <li><img src="https://imgur.com/LwM08KX.png" alt="SASS"></li>
              <li><img src="https://imgur.com/wghrs5i.png" alt="Bootstrap"></li>
            </ul>
          </div>
    </div>
    <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
        <div id="backend-content">
            <h5 class="card-title text-center">Backend</h5>
            <ul class="stack">
              <li><img src="https://imgur.com/fUuslkA.png" alt="NodeJS"></li>
              <li><img src="https://imgur.com/58aZq2f.png" alt="Symfony"></li>
            </ul>
          </div>
    </div>
    <div class="tab-pane fade" id="db-tab-pane" role="tabpanel" aria-labelledby="db-tab" tabindex="0">
      <div id="backend-content">
          <h5 class="card-title text-center">Bases de datos</h5>
          <ul class="stack">
            <li><img src="https://imgur.com/lDZ3Vg9.png" alt="NodeJS" style="width: 150px;"></li>
            <li><img src="https://imgur.com/guZ02Bx.png" alt="MySQL"></li>
          </ul>
        </div>
  </div>
    <div class="tab-pane fade" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab" tabindex="0">
        <div id="languages-content text-center">
            <h5 class="card-title">Lenguajes</h5>
            <ul class="stack">
              <li><img src="https://imgur.com/5UY4X3b.png" alt="HTML"></li>
              <li><img src="https://imgur.com/gu80IS3.png" alt="CSS"></li>
              <li><img src="https://imgur.com/6l46KuB.png" alt="PHP"></li>
              <li><img src="https://imgur.com/vjHVAob.png" alt="JS"></li>
              <li><img src="https://imgur.com/zpShVBn.png" alt="TS"></li>
            </ul>
          </div>
    </div>
  </div>
</div>