.main{
    margin-top:100px;
    color: #163832
}
.nav-link{
    color:#235347;
}

.tab-content{
    display: flex;
    gap: 5rem;
    justify-content: center;
    height: 65vh;
}

.card-title{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 3rem;
    font-size: 100px;
}
.stack{
    display: flex;
    gap: 5rem;
    justify-content: center;
}

li{
    list-style: none;
}