<div class="main justify-content-center">
    <div style="margin-right: 3rem; padding: 3rem;">
        <h1>Joaquín Ortega Blanco</h1>
        <h2> <i class="bi bi-phone"></i> +34 649602619</h2>
        <h2><i class="bi bi-globe2"></i> Castro Caldelas, Ourense, España</h2>
        <h2><i class="bi bi-chat-quote"></i> Español <small>(Nativo)</small> Inglés <small>(Nivel alto)</small></h2>
        <h2><i class="bi bi-envelope"></i> joaquin280401&#64;gmail.com</h2>
    </div>
    <div>
        <img src="https://imgur.com/b9tOeOR.png" alt="Foto mia" style="width: 85%; max-height: 1000px;">
    </div>
</div>
