<div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">ReadsLike</h5>
      <p class="card-text">Proyecto final del Bootcamp que realizamos en un grupo de 4 para presentar como proyecto final.</p>
      <div>
        <img src="https://imgur.com/5UY4X3b.png" alt="html"><img src="https://imgur.com/gu80IS3.png" alt="css"><img src="https://imgur.com/5Olnr7x.png" alt="angular"><img src="https://imgur.com/fUuslkA.png" alt="nodeJS">
      </div>
      <a href="https://joaquinob.github.io/entrega-final/" class="btn btn-primary">Ver página</a>
      <a href="https://github.com/joaquinob/entrega-final" class="btn btn-primary">Ver código frontend</a>
      <a href="https://github.com/carmennavarrot/backendBook" class="btn btn-primary">Ver código backend</a>
    </div>
</div>
<div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">SuperCars</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <div>
        <img src="https://imgur.com/5UY4X3b.png" alt="html"><img src="https://imgur.com/gu80IS3.png" alt="css"><img src="https://imgur.com/5Olnr7x.png" alt="angular"><img src="https://imgur.com/fUuslkA.png" alt="nodeJS">
      </div>
      <a href="#" class="btn btn-primary">Ver página</a>
      <a href="https://github.com/joaquinob/final-angular" class="btn btn-primary">Ver código frontend</a>
      <a href="https://github.com/joaquinob/prueba-vercel-back" class="btn btn-primary">Ver código backend</a>
    </div>
</div>
<div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Menú del día</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <div>
        <img src="https://imgur.com/5UY4X3b.png" alt="html"><img src="https://imgur.com/gu80IS3.png" alt="css"><img src="" alt="reactJS">
      </div>
      <a href="#" class="btn btn-primary">Ver página</a>
      <a href="https://github.com/joaquinob/proyecto-final-react" class="btn btn-primary">Ver código</a>
    </div>
</div>
<div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Rick & Morty API</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <div>
        <img src="https://imgur.com/5UY4X3b.png" alt="html"><img src="https://imgur.com/gu80IS3.png" alt="css"><img src="https://imgur.com/vjHVAob.png" alt="JS">
      </div>
      <a href="#" class="btn btn-primary">Ver página</a>
      <a href="https://github.com/joaquinob/rick-mortyapi" class="btn btn-primary">Ver código</a>
    </div>
</div>
<div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Proyecto filmografía</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <div>
        <img src="" alt="twig"><img src="https://imgur.com/gu80IS3.png" alt="css"><img src="https://imgur.com/58aZq2f.png" alt="symfony"><img src="https://imgur.com/6l46KuB.png" alt="php">
      </div>
      <a href="#" class="btn btn-primary">Ver página</a>
      <a href="https://github.com/joaquinob/Proyecto-php" class="btn btn-primary">Ver código</a>
    </div>
</div>