<div class="main">
  <div class="proyects">
    <h2 class="text-center">Mis proyectos</h2>
    <hr>
  <!-- <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://imgur.com/hkKzM1v.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Readslike</h5>
        <p>Página para realizar reseñas y publicar valoraciones de libros.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://imgur.com/qhxz3pw.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Menú</h5>
        <p>Página para elegir un menú de tres platos.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://imgur.com/euHpoDt.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Supercars</h5>
        <p>Página de alquiler de vehiculos de alta gama.</p>
      </div>
    </div>
  </div>
  </div> -->
  <div id="carouselExample" class="carousel slide" data-bs-ride="false">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://imgur.com/hkKzM1v.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Readslike</h5>
          <p>Página para realizar reseñas y publicar valoraciones de libros.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://imgur.com/qhxz3pw.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Menú</h5>
          <p>Página para elegir un menú de tres platos.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://imgur.com/euHpoDt.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Supercars</h5>
          <p>Página de alquiler de vehículos de alta gama.</p>
        </div>
      </div>
    </div>
  
    <!-- Botón Anterior -->
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Anterior</span>
    </button>
  
    <!-- Botón Siguiente -->
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Siguiente</span>
    </button>
  </div>
  
  <div class="d-flex flex-row flex-wrap gap-1 justify-content-center">
<div class="card" style="width: 18rem;">
    <img src="https://imgur.com/hkKzM1v.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title text-center">ReadsLike</h5>
      <p class="card-text text-center">Proyecto final del Bootcamp que realizamos en un grupo de 4 para presentar como proyecto final.</p>
      <div class="stack">
        <img src="https://imgur.com/5UY4X3b.png" alt="html"><img src="https://imgur.com/gu80IS3.png" alt="css"><img src="https://imgur.com/5Olnr7x.png" alt="angular"><img src="https://imgur.com/fUuslkA.png" alt="nodeJS">
      </div>
      <div class="d-flex flex-row flex-wrap gap-2 justify-content-center align-items-center">
      <!-- <a href="https://joaquinob.github.io/entrega-final/" class="btn btn-primary">Ver página</a> -->
      <a href="https://github.com/joaquinob/entrega-final" class="btn btn-primary">Frontend</a>
      <a href="https://github.com/carmennavarrot/backendBook" class="btn btn-primary">Backend</a></div>
    </div>
</div>
<div class="card" style="width: 18rem;">
    <img src="https://imgur.com/euHpoDt.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title text-center">SuperCars</h5>
      <p class="card-text">Proyecto final de la asignatura de Angular, en el que realizamos una página de reservas.</p>
      <div class="stack">
        <img src="https://imgur.com/5UY4X3b.png" alt="html"><img src="https://imgur.com/gu80IS3.png" alt="css"><img src="https://imgur.com/5Olnr7x.png" alt="angular"><img src="https://imgur.com/fUuslkA.png" alt="nodeJS">
      </div>
      <div class="d-flex flex-row flex-wrap gap-2 justify-content-center">
      <!-- <a href="#" class="btn btn-primary">Ver página</a> -->
      <a href="https://github.com/joaquinob/final-angular" class="btn btn-primary">Frontend</a>
      <a href="https://github.com/joaquinob/prueba-vercel-back" class="btn btn-primary">Backend</a></div>
    </div>
</div>
<div class="card" style="width: 18rem;">
    <img src="https://imgur.com/qhxz3pw.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title text-center">Menú del día</h5>
      <p class="card-text text-center">Proyecto final de la asignatura de React, en el que realizamos una página para elegir un menú.</p>
      <div class="stack">
        <img src="https://imgur.com/5UY4X3b.png" alt="html"><img src="https://imgur.com/gu80IS3.png" alt="css"><img src="https://imgur.com/caxNHSC.png" alt="reactJS" style="width: 48px;">
      </div>
      <div class="d-flex flex-row flex-wrap gap-2 justify-content-center">
      <!-- <a href="#" class="btn btn-primary">Ver página</a> -->
      <a href="https://github.com/joaquinob/proyecto-final-react" class="btn btn-primary">Ver código</a></div>
    </div>
</div>
<div class="card" style="width: 18rem;">
    <img src="https://imgur.com/h11RZyd.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title text-center">Rick & Morty API</h5>
      <p class="card-text text-center">Proyecto final de la asignatura de JS, en el que realizamos una página que muestra una API.</p>
      <div class="stack">
        <img src="https://imgur.com/5UY4X3b.png" alt="html"><img src="https://imgur.com/gu80IS3.png" alt="css"><img src="https://imgur.com/vjHVAob.png" alt="JS">
      </div>
      <div class="d-flex flex-row flex-wrap gap-2 justify-content-center">
      <!-- <a href="#" class="btn btn-primary">Ver página</a> -->
      <a href="https://github.com/joaquinob/rick-mortyapi" class="btn btn-primary">Ver código</a></div>
    </div>
</div>
<div class="card" style="width: 18rem;">
    <img src="https://imgur.com/COzpFAw.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title text-center">Proyecto filmografía</h5>
      <p class="card-text text-center">Proyecto final de la asignatura de PHP, en el que realicé una página de para poner reseñas de peliculas.</p>
      <div class="stack">
        <img src="https://imgur.com/gu80IS3.png" alt="css" class="stack-img"><img src="https://imgur.com/58aZq2f.png" alt="symfony" class="stack-img"><img src="https://imgur.com/6l46KuB.png" alt="php" class="stack-img">
      </div>
      <div class="d-flex flex-row flex-wrap gap-2 justify-content-center">
      <!-- <a href="#" class="btn btn-primary">Ver página</a> -->
      <a href="https://github.com/joaquinob/Proyecto-php" class="btn btn-primary">Ver código</a>
      </div>  
    </div>
</div>
  </div>
  </div>
</div>