<h1>Mi portfolio</h1>

<div class="portfolio">
    <div class="card" style="width: 22rem;">
        <a href="/me" class="card-link">
            <div class="card-body">
            <h2 class="card-title">Mis datos</h2>
            <p class="card-text">Pasa por aqui para ver mi info</p>
            </div>
        </a>
    </div>
    <div class="card" style="width: 22rem;">
        <a href="/proyects" class="card-link">
            <div class="card-body">
            <h2 class="card-title">Mis proyectos</h2>
            <p class="card-text">Pasa por aqui para ver mi info</p>
            </div>
        </a>
    </div>
    <div class="card" style="width: 22rem;">
        <a href="/stack" class="card-link">
            <div class="card-body">
            <h2 class="card-title">Mi stack</h2>
            <p class="card-text">Pasa por aqui para ver mi info</p>  
            </div>
        </a>
    </div>
    <div class="card" style="width: 22rem;">
        <a href="/studies" class="card-link">
            <div class="card-body">
            <h2 class="card-title">Mis estudios</h2>
            <p class="card-text">Pasa por aqui para ver mi info</p>
            </div>
        </a>
    </div>
    <div class="card" style="width: 22rem;">
        <a href="/softskills" class="card-link">
            <div class="card-body">
            <h2 class="card-title">Softskills</h2>
            <p class="card-text">Pasa por aqui para ver mi info</p>
            </div>
        </a>
    </div>
</div>