.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 42rem;
    height: 15rem;
    margin: 1rem;
    background-color:  #235347;
    color: #daf1de;
}

.main{
    background-color: #daf1de;
}
.card:hover{
    cursor: pointer;
    transform:scale(1.1) 
}

.portfolio{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

a{
    text-decoration: none;
    color: inherit;
}

.id{
    padding: 1rem;
    display: flex;
    justify-content: center;
}
h1{
    
    color: #051f20;
}
a{
    padding: 4.5rem 13rem  4.5rem 13rem;
}