<footer class="footer mt-auto py-3 bg-light">
  <div class="container text-center">
    <a href="https://www.linkedin.com/in/joaquinoblanco" target="_blank" class="text-decoration-none">
      <i class="bi bi-linkedin"></i>
    </a>
    <span class="mx-3">|</span>
    <a href="ruta-a-tu-cv.pdf" target="_blank" class="text-decoration-none">
      <i class="bi bi-file-earmark-text"></i> Ver CV
    </a>
    <span class="mx-3">|</span>
    <div>
      <i class="bi bi-envelope"></i> joaquin280401&#64;gmail.com</div>
  </div>
</footer>
