.main {
    margin-top: 100px;
    padding: 10px;
}

.pdf {
    width: 100%;
    height: calc(100vh - 150px); /* Altura ajustada para que ocupe casi toda la pantalla menos la cabecera */
    min-height: 400px;
}

@media (max-width: 768px) {
    .pdf {
        height: calc(100vh - 150px); /* Ajustar a la altura completa de la pantalla en pantallas pequeñas */
    }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h2 {
    color: #163832;
    margin: 0;
}

a {
    color: #163832;
    text-decoration: none;
    font-size: 1.5rem;
}

a:hover {
    color: #0d6efd;
}

hr {
    color: #163832;
}
