.main {
    margin-top: 100px;
    padding: 10px;
}

.header {
    display: flex;
    justify-content: space-between; /* Espaciado entre el h2 y el enlace */
    align-items: center; /* Alinea verticalmente ambos elementos */
}

.pdf {
    width: 100%;
    height: 75rem; /* Altura por defecto en pantallas grandes */
    min-height: 400px;
}

@media (max-width: 768px) {
    .pdf {
        height: 50rem; /* Ajustar la altura en pantallas pequeñas */
    }
}

h2 {
    color: #163832;
    margin: 0;
}

a {
    color: #163832;
    text-decoration: none;
    font-size: 1.5rem; /* Tamaño del icono */
}

a:hover {
    color: #0d6efd; /* Cambia el color del icono al pasar el mouse */
}

hr {
    color: #163832;
}
